.navigation {
  grid-area: n;
  background-color: #ebebeb;
  padding: 10px;
  box-shadow: 0 0 14px -4px rgb(0 0 0 / 75%);
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a.activeLink {
  color: rgb(40, 40, 168);
  font-size: 20px;
}

.item:nth-last-child(2) {
  padding-top: 40px;
}

.logo {
  padding-top: 160px;
}
