.wrap {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 130px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.head {
  box-shadow: 0 0 14px -4px rgb(0 0 0 / 75%);
}

.app-wrapper-content {
  grid-area: c;
  box-shadow: 0 0 14px -4px rgb(0 0 0 / 75%);
  background-color: var(--bg-main-color);
  color: red;
  height: 1000px;
  }
  
img {
  width: 100%;
  height: 200px;
  }

.g_button {
  padding: var(--spase-s);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 14px -4px rgb(0 0 0 / 75%);
  font-size: 16px;
  align-self: flex-start;
  cursor: pointer;
  background-color: var(--bg-main-blue-color);
  color: var(--bg-color-text-button);
}

.input_field {
  padding: var(--main-space-xs);
  display: flex;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-input-field);
  color: var(--main-text-color);
  box-sizing: border-box;
  margin-bottom: var(--main-space-s);
}

.input_field_bg {
  padding: var(--main-space-xs);
  display: flex;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-color-input);
  color: var(--main-text-color);
  box-sizing: border-box;
  margin-bottom: var(--main-space-s);
}

/* style variable */
:root {
  --bg-color-text: rgba(31, 4, 4, 0.2);
  --bg-color-text-button: #fff;
  --bg-color-input: #ebebebd7;
  --main-text-color: rgb(112, 112, 112);
  --bg-main-blue-color: rgba(28, 115, 228, 0.801);
  --bg-main-color: #fefefe;
  --bg-input-field: #ebebeb;
  --bg-national: #e3e708a1;

  /* margin */
  --main-space-xs: 10px;
  --main-space-s: 20px;
  --main-space-m: 40px;
  --main-space-l: 60px;

  /* button padding */
  --spase-s: 10px 20px;
}