.content {
  padding: 10px;
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: var(--bg-national);
  box-shadow: 0 0 14px -4px rgb(0 0 0 / 75%);
  height: inherit;
}

.dialogsItems {
    background-color: var(--bg-main-blue-color);
    box-shadow: 0 0 14px -4px rgb(0 0 0 / 75%);
    padding: 10px;
    color: var(--main-text-color);
}

.dialogsItems .active {
  color: gold;
}

.messages {
  padding: 10px;
}

.messages {
  display: flex;
  flex-direction: column;
}

.createMessage {
  margin: var(--main-space-xs);
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

.input {
  padding: 10px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-color-text);
  color: var(--main-text-color);
}

.messageButton {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 14px -4px rgb(0 0 0 / 75%);
  font-size: 16px;
  align-self: flex-start;
  cursor: pointer;
  background-color: var(--bg-main-blue-color);
  color: var(--bg-color-text-button);
}

.messageContainer {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
}