.content {
  padding: 10px;
}

.message:nth-child(2n) {
  place-self: end;
}

.message {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--bg-color-text);
  margin: 10px 0;
  width: 200px;
}
